.shopcategory-banner {
    display: block;
    margin: 30px auto;
    max-width: 100%; /* Adjust as needed */
}

.shopcategory-indexSort {
    display: flex;
    margin: 0px 20px; /* Adjust as needed */
    justify-content: space-between;
    align-items: center;
}

.shopcategory-sort {
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}

.shopcategory-indexSort p span{
    font-weight: 600;
}

.shopcategory-products {
    margin: 20px 20px; /* Adjust as needed */
    display: grid;
    grid-template-columns: 1fr 1fr; /* Adjust as needed */
    gap: 20px; /* Adjust as needed */
    justify-items: center; /* Align items horizontally in the center */
    align-items: start; /* Align items vertically at the start */

    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr; /* Adjust as needed */
    }

    @media (min-width: 1024px) {
        grid-template-columns: 1fr 1fr 1fr 1fr; /* Adjust as needed */
    }
}

.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    margin: 150px auto;
    width:233px;
    height:69px;
    border-radius: 75px;
    background: #ededed;
    font-size: 18px;
    font-weight:500;
    color: 787878px;
    align-items: center;
    cursor: pointer;

}